<% chats.each do |chat| %>
    <% if chat.user_id == current_user.id %>
      <p style="text-align: right;"><%= chat.message %><%= link_to "Delete", chat_path(chat), method: :delete, remote: true %></p>
    <% else %>
      <p style="text-align: left;"><%= chat.message %><%= link_to "Delete", chat_path(chat), method: :delete, remote: true %></p>
    <% end %>
  <% end %>